html,body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    margin: 10px;
    width: 85%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header nav .navbar-brand{
    margin-left: 10px;
}
header nav .navbar-nav{
    margin-right: 40px;
}

header nav .navbar-nav a{
    text-decoration: none;
    color: hsla(0,0%,100%,.5);
}

header nav .navbar-nav a:hover{
    color: rgb(255, 255, 255);
}